._*
test
test-llvm
test*.ptx
.sync
unsharp/input.png
metal-ios/.DS_Store
metal-ios/Metal iOS Perf/reaction_diffusion_*.h
metal-ios/Metal iOS Perf/reaction_diffusion_*.o
metal-ios/reaction_diffusion_2_generator
*.xcuserdatad
metal-ios/Metal iOS Perf/reaction_diffusion_init_arm.h
metal-ios/Metal iOS Perf/reaction_diffusion_init_arm.o
metal-ios/Metal iOS Perf/reaction_diffusion_init_metal.h
metal-ios/Metal iOS Perf/reaction_diffusion_init_metal.o
metal-ios/Metal iOS Perf/reaction_diffusion_render_arm.h
metal-ios/Metal iOS Perf/reaction_diffusion_render_arm.o
metal-ios/Metal iOS Perf/reaction_diffusion_render_metal.h
metal-ios/Metal iOS Perf/reaction_diffusion_render_metal.o
metal-ios/Metal iOS Perf/reaction_diffusion_update_arm.h
metal-ios/Metal iOS Perf/reaction_diffusion_update_arm.o
metal-ios/Metal iOS Perf/reaction_diffusion_update_metal.h
metal-ios/Metal iOS Perf/reaction_diffusion_update_metal.o